body {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #c8c8c8;
    background-color: #272b30;
}

img {
		width:80%;
}
a:link {
		color: #c8c8c8;
}
a:visited	{
		color: #c8c8c8;
}
